# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# editor
/.vscode

# another directories and files
/public
package-lock.json
package.json
tsconfig.json
.eslintrc.json
.prettierrc.json
.eslintignore
next.config.mjs
README.md

