@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.radioGroup {
  width: 100%;
  @include flex(column, center, center);
  list-style: none;
  gap: 20px;

  li {
    width: 100%;
  }

  .radioButton {
    @include flex(row, center, center);
    @include font($fs-14, $lh-19, $fw-400);
    position: relative;
    width: 100%;
    min-height: 64px;
    padding: 12px 16px;
    background: $slate-lighten-70;
    border: 1px solid $grey-lighten-75;
    border-radius: $br-16;
    text-align: center;
    color: $black-lighten-20;
    box-shadow: 2px 2px 6px 0px $violet-lighten-60;
    z-index: 1;
    cursor: pointer;

    &:hover {
      background: $grey-lighten-90;
    }
  }

  .active {
    width: 100%;
    min-height: 64px;
    color: $grey-lighten-90;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $accent-base;
      border-radius: $br-16;
      z-index: -1;
    }
  }
}
